doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../css/'+skin.toLowerCase()+'.css')
    link(rel='stylesheet', href='../css/css.css')
    script(src='../js/webix.6.3.1.js')
    script(src='../js/webix_codemirror.js')
    script(src='../js/fengari-web.js')
    script(src='../js/brython.js')
    script(src='../js/brython_stdlib.js')
    script(src='../js/math.min.js')
  body
    block content
