extends layout

block content
    script.
        var registerUrls = {
            "999Dice":"https://www.999dice.com/?224280708", 
            "BetKing":"https://betking.io/?ref=u:mydicebot",
            "BitDice":"https://www.bitdice.me/?r=90479",
            "Bitsler":"https://www.bitsler.com/?ref=mydicebot", 
            "BitVest":"https://bitvest.io?r=108792", 
            "Crypto-Games":"https://www.crypto-games.net?i=CpQP3V8Up2", 
            "Dice-Bet":"https://dice-bet.com/?ref=u:mydicebot",
            "DuckDice":"https://duckdice.com/ab61534783", 
            "Freebitco.in":"https://freebitco.in/?r=16392656", 
            "KingDice":"https://kingdice.com/#/welcome?aff=18072", 
            "MagicDice": "https://magic-dice.com/?ref=mydicebot",
            "MegaDice":"https://www.megadice.com/?a=326492144", 
            "NitroDice":"https://www.nitrodice.com?ref=0N2pG8rkL7UR6oMzZWEj", 
            "NitrogenSports":"https://nitrogensports.eu/r/4998127", 
            "PrimeDice":"https://primedice.com/?c=mydicebot", 
            "SafeDice":"https://safedice.com/?r=100309", 
            "Stake":"https://stake.com/?code=mydicebot", 
            "YoloDice":"https://yolodice.com/r?6fAf-wVz" 
        };

        webix.ui.fullScreen();

        webix.ui({
            view: "form", id: "form1", elements: [{
                rows: [
                    {
                        options: [
                           {id:"999Dice",value:"999Dice"},
                           {id:"Bitsler",value:"Bitsler"},
                           {id:"Crypto-Games",value:"Crypto-Games"},
                           {id:"MagicDice", value:"MagicDice"},
                           {id:"PrimeDice",value:"PrimeDice"},
                           {id:"Stake",value:"Stake"},
                           {id:"YoloDice",value:"YoloDice"},              
                           {id:"BetKing",value:"BetKing (coming soon)"},
                           {id:"BitDice",value:"BitDice (coming soon)"},
                           {id:"BitVest",value:"BitVest (Coming Soon)"},
                           {id:"Dice-Bet",value:"Dice-Bet (coming soon)"},
                           {id:"DuckDice",value:"DuckDice (Coming Soon)"},
                           {id:"Freebitco.in",value:"Freebitco.in (Coming Soon)"},
                           {id:"KingDice",value:"KingDice (Coming Soon)"},
                           {id:"MegaDice",value:"MegaDice (Coming Soon)"},
                           {id:"NitroDice",value:"NitroDice (Coming Soon)"},
                           {id:"NitrogenSports",value:"NitrogenSports (Coming Soon)"},                       
                           {id:"SafeDice",value:"SafeDice (Coming Soon)"}
                        ],
                        view: "richselect",
                        left: 70,
                        top: 70,
                        width: 400,
                        value: "999Dice",
                        label: "SITE",
                        labelWidth: 120,
                        placeholder: "999Dice",
                        id: "site",
                        name: "site"
                    },
                    {
                        view: "text",
                        left: 70,
                        top: 130,
                        width: 400,
                        label: "USERNAME",
                        labelWidth: 120,
                        name: "username",
                        invalidMessage:"username can not be empty",
                        validate:webix.rules.isNotEmpty
                    },
                    {
                        view: "text",
                        type: "password",
                        left: 70,
                        top: 190,
                        width: 400,
                        label: "PASSWORD",
                        labelWidth: 120,
                        name: "password",
                        invalidMessage:"password can not be empty",
                        validate:webix.rules.isNotEmpty
                    },
                    {
                        view: "text",
                        left: 60,
                        top: 250,
                        width: 400,
                        label: "2FA (Optional)",
                        labelWidth: 120,
                        name: "twofa"
                    },
                    {
                        view: "text",
                        type: "password",
                        left: 70,
                        top: 310,
                        width: 400,
                        labelWidth: 120,
                        label: "API Key",
                        name: "apikey",
                        invalidMessage:"apikey can not be empty",
                        validate:webix.rules.isNotEmpty
                    },
                    {
                        label: "LOGIN",
                        view: "button",
                        type: "form",
                        left: 60,
                        top: 400,
                        width: 400,
                        name: "login_button",
                        click: "login"
                    },
                    {
                        label: "REGISTER",
                        view: "button",
                        left: 310,
                        top: 400,
                        width: 400,
                        name: "register_button",
                        click: register
                    },
                    {
                        view: "label",
                        label: "Supporting Dice Sites (alphabet sequence)"
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://www.999dice.com/?224280708'>999Dice</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://www.bitsler.com/?ref=mydicebot'>Bitsler</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://www.crypto-games.net/?i=CpQP3V8Up2'>Crypto-Games</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://magic-dice.com/?ref=mydicebot'>MagicDice</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://primedice.com/?c=mydicebot'>PrimeDice</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://stake.com/?code=mydicebot'>Stake</a>", 
                    },  
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://yolodice.com/r?6fAf-wVz'>YoloDice</a>", 
                    },
                    {
                        view: "label",
                        label: "TODO"
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://betking.io/?ref=u:mydicebot'>BetKing (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://bitvest.io/?r=108792'>BitVest (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://www.bitdice.me/?r=90479'>BitDice (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://dice-bet.com/?ref=u:mydicebot'>Dice-Bet (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://duckdice.com/ab61534783'>DuckDice (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://freebitco.in/?r=16392656'>Freebitco.in (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://kingdice.com/#/welcome?aff=180722'>KingDice (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://www.megadice.com/?a=326492144'>MegaDice (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://www.nitrodice.com/?ref=0N2pG8rkL7UR6oMzZWEj'>NitroDice (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://nitrogensports.eu/r/4998127'>NitrogenSports (coming soon)</a>", 
                    },
                    { 
                        view: "label", 
                        label: "<a target='_blank' href='https://safedice.com/?r=100309'>SafeDice (coming soon)</a>", 
                    },
                                    
                ]
            }],
        });
        webix.extend($$("form1"), webix.ProgressBar);
        function register() {
            let site = $$("site").getValue();
            window.open(registerUrls[site],'_blank');
        }
        login = function() {
            console.log($$("form1"));
            if($$("form1").validate()){
                $$("form1").showProgress({
                    type: "icon",
                    delay: 5000,
                    hide: true
                });
                webix.send("login", $$("form1").getValues());
            } else {
                webix.message({type: 'error', text: 'Please enter the correct parameters'});
            }
        }
        webix.ready(function () {
            let mess = "#{message}"
            if(mess != '') {
                webix.message({type: 'error', text: mess });
            }
            console.log($$("form1"));
            $$("form1").elements.apikey.hide(); 
        });
        $$("site").attachEvent("onChange", function(newId, oldId){
            var needUserSites = ['test','999Dice'];
            var needTokenSites = ['test','PrimeDice','Stake'];
            var needApiKeySites = ['test','Bitsler'];
            var needOnlyApiKeySites = ['test','YoloDice','Crypto-Games']
            var needSteemActiveKeySites = ['test','MagicDice']
            if(needUserSites.indexOf(newId)>0){
                console.log("need user");
                $$("form1").elements.apikey.hide(); 
                $$("form1").elements.twofa.show(); 
                $$("form1").elements.username.show(); 
                $$("form1").elements.password.show(); 
                //$$("form1").refresh();
            } else if(needTokenSites.indexOf(newId)>0) {
                console.log("need token");
                $$("form1").elements.username.hide(); 
                $$("form1").elements.password.hide(); 
                $$("form1").elements.twofa.show(); 
                $$("form1").elements.apikey.show(); 
                $$("form1").elements.apikey.define("label", "Token");
                $$("form1").elements.apikey.refresh();
            } else if (needApiKeySites.indexOf(newId)>0) {
                console.log("need apikey");
                $$("form1").elements.username.show(); 
                $$("form1").elements.password.show(); 
                $$("form1").elements.twofa.show(); 
                $$("form1").elements.apikey.show(); 
                $$("form1").elements.apikey.define("label", "Api Key");
                $$("form1").elements.apikey.refresh();
            } else if(needOnlyApiKeySites.indexOf(newId)>0) {
                console.log("need only apikey");
                $$("form1").elements.username.hide(); 
                $$("form1").elements.password.hide(); 
                $$("form1").elements.twofa.show(); 
                $$("form1").elements.apikey.show(); 
                $$("form1").elements.apikey.define("label", "Api Key");
                $$("form1").elements.apikey.refresh();
            } else if(needSteemActiveKeySites.indexOf(newId)>0) {
                console.log("need Activekey");
                $$("form1").elements.password.hide(); 
                $$("form1").elements.twofa.hide(); 
                $$("form1").elements.apikey.show(); 
                $$("form1").elements.apikey.define("label", "Active Key");
                $$("form1").elements.apikey.refresh();
            }
        });

